/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Global Styles */
* {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: space-around;
}

/* List Styles */
.lista {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
}

/* Header Styles */
header {
    background-color: #ffff;
    height: 70px;
}

/* Button Styles */
.button {
    background-color: #42517A;
    color: #ffff;
    border: 1px solid #42517A;
    padding: 15px;
    font-size: 13px;
    font-weight: 700;
    border-radius: 5px;
}

/* Image Styles */
.img {
    width: 210px;
    height: 70px;
}

/* Link Styles */
a {
    text-decoration: none;
    list-style-type: none;
    padding: 10px;
}

/* Item Styles */
.item {
    width: 130px;
}

/* List Item Styles */
li {
    list-style-type: none;
    font-weight: 700;
    font-size: 16px;
    color: rgb(78, 95, 143);
}

/* Margin Styles */
.mx-1 {
    width: 300px;
}

/* Footer Styles */
footer {
    background-color: #223874;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Container Styles */
.container-1 {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Main Styles */
main {
    background-color: #F2F2F2;
    height: 88%;
}

/* Login Styles */
.login {
    width: 366px;
    height: 477px;
    background-color: #ffff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    padding: 10px;
}  

.h1 {
    color: rgb(78, 95, 143);
}


/* Media Query */
@media screen and (max-width: 440px) {
    nav {
        flex-direction: column;
    }
    .lista {
        flex-direction: column;
        align-items: center;
    }
}
